// src/components/SummaryCard/SummaryCard.module.scss
.summaryCard {
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.value {
  font-size: 2rem;
  font-weight: bold;
}
