@import '../../variables';

.employeeDirectory {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
  color: $title-grey-text-color;
}

.searchBar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.table th {
  font-weight: bold;
}