.employeeDirectory {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
}

.title {
  margin-bottom: 2rem;
}

.searchBar {
  margin-bottom: 1rem;
  width: 100%;
}

.table {
  min-width: 650px;
}

.table th {
  font-weight: bold;
}

.table tr:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
