.dashboard {
  padding-top: 1rem;
  padding-bottom: 2rem;
  width: 100%;
  height: 100%;
}

.title {
  margin-bottom: 2rem;
  text-align: center;
}

.summaryCards {
  margin-bottom: 2rem;
}

.charts {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}
