/* EmployeeDetails.module.scss */

.employeeDetails {
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.header {
  padding: 1rem;
  margin-bottom: 2rem;
}

.cardContainer {
  padding: 1rem;
}

.card {
  width: 100%;
  height: 100%;
}
