// _variables.scss
$primary-color: #EFF1ED; // Replace with your chosen primary color
$secondary-color: #373D20; // Replace with your chosen secondary color
$background-color: 717744; // Replace with your chosen background color
$text-color: 766153; // Replace with your chosen text color

$navbar-background-color: $primary-color;
$navbar-text-color: #ffffff;