// _variables.scss
$primary-color: #EFF1ED; // Replace with your chosen primary color
$secondary-color: #373D20; // Replace with your chosen secondary color
$background-color: 717744; // Replace with your chosen background color
$text-color: 766153; // Replace with your chosen text color

$blue-background-color: #132033;
$green-text-color: #9EDCA2;
$title-grey-text-color: #7B7B7B;
$body-grey-text-color: #8F8F91;
$white-text-color: #ffffff;
$grey-background-color: #F3F3F3;